* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: ;
}

header div{
    display: flex;
    justify-content: space-around;
}

header img {
    width: 50px;
}